@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster+Two&family=Open+Sans:ital@0;1&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    font-family: 'Dancing Script', cursive;
font-family: 'Lobster Two', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
}

header{
    background-color:rgba(245, 40, 145, 0.02);
    padding: 25px 150px;
   
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.6);
  
  
   
}
main{
    max-width: 1440px;
    margin: 0px 150px;
}
.left-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title{
    font-weight: 500px;
    font-size: 1.8rem;
    
    margin-left: 10px;
}
.g{
    color:rgb(243, 5, 136);
}
.button{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
   
   
   
}
.button li{
    display: flex;
   justify-content: center;
   align-items: center;
 
   
}
.button img{
    
    margin-left: 4px;
   
} 
 nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*.section-title{
    font-weight: 700;
    font-size:1.8rem;
    color: black;
}*/
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
   margin-right:30px; 
   align-items: center;
    font-size: 1rem;
    font-weight: 500;

}
nav li a{
    text-decoration: none;
    color: black;
} 
.first-page{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.first-page-image img{
    width: 70%;
    margin-left: 220px;
    
}

.h3{
    font-size: 2.8rem;
    font-weight: 200px;
    
}
.goat{
    font-size: 3.8rem;
    font-weight: 700px;
    color:rgb(212, 11, 212);
    
}
.first-page-content p{
    font-size:15px;
    color: rgba(0, 0, 0, 0.823);
    margin-bottom: 10px;
   
    
}
.btn-one{
    background-color:rgb(240, 14, 157);
    padding: 15px 30px;
    border: 0;
    border-radius:30px;
    text-align: center;
    color: aliceblue;
}
.btn-two{
    background-color:rgb(0, 199, 253);
    padding: 15px 30px;
    border: 0;
    border-radius:30px;
    text-align: center;
    color: aliceblue;
    margin-left: 5px;
}
.second-page{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
   
}
.second-page .title{
    font-size: 1.8rem;
    font-weight: 700px;
    margin-bottom: 20px;
}
.color{
    color:rgb(212, 11, 212);
}
.description{
    font-size:13px;
    font-weight: 400px;
    line-height: 20px;
    
}
.card{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    
    gap: 20px;
}
.card img{
    width: 100%;
    margin-bottom: 15px;
    
}
  .third-page{
     margin-top: 70px; 
    display: flex;
    /* justify-content: center;  */
     /* justify-content: space-between;  */
    /* text-align: center;   */
        align-items: center; 
        margin-bottom: 0px;  
      
}
.third-page .content{
    margin-left: 20px;
    text-align: right;
      margin-bottom: 180px;   

     /* justify-content: center; */ 
    
 }


.third-page .title{
    font-size: 1.8rem;
    font-weight: 700px;
    margin-bottom: 20px;
}
.third-page .image{
  
    margin-bottom:0px;
    
    
}

.third-page img{
    width: 60%; 
    margin-left: 230px;
    
    
}
.small-img{
   width: 45%;
 position:relative;
   bottom: 120px; 
  right: 90px;
  margin-bottom: 0px;

} 
.second-main{
    background-color: rgb(255, 20, 204);
    margin: 0px;
}
.forth-page{
    display: flex; 
     /* justify-content: center;  */
     justify-content: space-between;
 
     align-items: center; 
    margin-top: 0px;
    
   
   

} 
 .forth-page-content{

 max-width: 500px;   
margin-top: 0px;
 margin-left: 150px; 
} 
.columns{
display: flex;
justify-content: space-between;
/* gap: 30px; */
}
.column-one{
   text-align: left;
}
.column-two{
   text-align: right;
}
/* .forth-page-image{
    max-width: 600px;
    margin-right: 180px;
} */


 .forth-page-image img{
    width: 100%;
    
} 
.career{
    font-size: 2rem;
    font-weight: 400px;
    margin-bottom: 25px;
    color: white;
}
.forth-page .description{
    color: white;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: white;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px;
    margin-top: 20px;
}

  .buttons{
    margin-top: 50px;
    
    
   
    /* justify-content: center; */
    
    text-align: left;
} 


  .buttons-one{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 35px;
    margin-right: 35px;
}
.buttons-two{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}  
.button-pannel{
    display: flex;
    text-align: left;
    justify-content:space-between;
    align-items: center;
    gap: 10px;

     border: 0;
    border-radius: 30px;
    background-color:rgba(167, 24, 93, 0.02);
    box-shadow:0px 4px 30px 0px rgba(232, 210, 210, 0.6);
   
    
    padding:0px 5px;
}


@media screen and (max-width:576px){
   nav, nav >ul, .first-page, .second-page, .card, .third-page,
   .forth-page 
   
   {
        flex-direction: column;
    }
    .buttons{
        margin-left: 80px;
    }
    
    .buttons-one{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
      

    }
    .buttons-two{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 25px;

    }
    
    
    .forth-page{
        margin-right: 50px;
       
    }
    .forth-page-image{
        margin-left: 130px;
    }
    .btn-two{
        margin-top: 10px;
        margin-left: 0px;
        
    }
    .first-page-image img{
      
        margin-right:300px;
        margin-left: 50px;
        justify-content: center;
    }
    .third-page .content{
        text-align: center;
        margin-bottom: 10px;
    }
    .third-page .image{
       align-items: center;
       margin-left: 0px;
    }
    .third-page img{
        width: 100%;
        margin-left:7px;
        margin-top: 0px;
    }
    .small-img{
        position: static;
     
       
    }
}